.activity-details-container {
    color: var(--textColor,#202020);
    font-family: var(--fontFamilySansSerif,"Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif);
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
    box-sizing: border-box;
    padding: 0 14px;
    padding-left: 0;
    padding-right: 0;
    clear: none!important;
    display: flex;
    float: left;
    width: 25%;
    margin-left: 30px;
}


body > main > div.section.activity-details-container > div{
    margin: 0px;
    padding-left: 14px;
    padding-right: 14px;
}

.activity-details dl {
    font-family: var(--body-font-family);
    text-transform: uppercase;
}

.activity-details dt {
    border-left: 5px solid #ebebeb;
    color: #696969;
    font-size: 9pt;
    padding-top: 1em;
    padding-left: 1em;
}

.activity-details dd {
    border-left: 5px solid #ebebeb;
    padding-top: .5em;
    padding-bottom: 1em;
    padding-left: 1em;
    font-weight: 600;
    font-size: 14px;
    margin-inline-start: 0;
    margin-bottom: 1.25em;
}

@media (max-width: 1020px){
    .activity-details-container {
        max-height: 105px;
        width: 100%;
        display: flex;
        flex-wrap: wrap; /* Allow items to wrap to the next line */

    }

    .activity-details dl {
        max-width: 735px;
        max-height: 105px;
        display: flex;
        flex-wrap: wrap; /* Allow items to wrap to the next line */
        flex-direction: column
    }

    .activity-details dt {
        border-left: 5px solid #ebebeb;
        color: #696969;
        padding-left: 10px;
        padding-right: 10px;


    }
    
    .activity-details dd {
        border-left: 5px solid #ebebeb;
        margin-right: 15px;
        padding-left: 10px;
        padding-right: 10px;

    }


}